out/
.gradle/
.idea/
.kotlin/
.vscode/
*.iml
build/
app/build/
dist/
local.properties
secrets.properties
keystore.properties
*.keystore
*.jks
keystore/*.keystore
keystore/*.jks
*.apk.idsig
.DS_Store
artifacts/
